.chat-list {
    background: var(--bg-color-body);

    &__header {
        height: var(--header-height);
    }

    &__edit {
        position: absolute;
        width: 4rem;
        height: 4rem;
        bottom: 2rem;
        right: 2rem;
    }
}

.edit {
    padding: 1rem;
    border-radius: 50%;
    background: var(--bg-color-primary-2);

    &:hover {
        background: var(--bg-color-primary-2-hover);
    }

    &:active {
        background: var(--bg-color-primary-2-active);
    }

    &__icon {
        fill: var(--color-primary-2);
    }
}