.input-container {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--bg-color-primary);

    &__input {
        flex: 1;
        border: none;
        outline: none;
        font-size: inherit;
    }

    &__attachment {
        width: 2rem;
        height: 2rem;
    }
}