.input-container {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    background-color: var(--bg-color-tertiary);

    &__input {
        flex: 1;
        border: none;
        outline: none;
        font-size: inherit;
    }

    &__attachment {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;

        &:hover {
            background-color: var(--bg-color-tertiary-hover);
        }

        &:active {
            background-color: var(--bg-color-tertiary-active);
        }
    }
}