.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 1rem;
    background: var(--bg-color-primary);

    &__left-part {
        height: 80%;
    }

    &__button {
        height: 80%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;

        &:hover {
            background-color: var(--bg-color-primary-hover);
        }

        &:active {
            background-color: var(--bg-color-primary-active);
        }
    }
}

.left-part {
    display: flex;
    align-items: center;
    gap: 2rem;
    height: 100%;

    &__icon {
        height: 100%;
        aspect-ratio: 1 / 1;
    }
}