.messages-lists {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    padding: 1rem 2rem;
    background: var(--bg-color-body);
}

.message-container {
    display: flex;

    &--mine {
        flex-direction: row-reverse;
    }
}

.message {}