.messages-lists {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    padding: 1rem 2rem;
    background: var(--bg-color-body);
}

.message {
    &[data-is-new="true"] {
        animation: appear 0.15s linear;
    }

    &--mine {
        margin-left: auto;
    }
}

@keyframes appear {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}