:root {
    --color-title: white;
    --color-primary: black;
    --color-primary-2: #6d6719;
    --color-secondary: rgb(161, 159, 159);

    --bg-color-primary: #8d2e8d;
    --bg-color-primary-hover: #751e75;
    --bg-color-primary-active: #631163;
    --bg-color-primary-2: #e4d722;
    --bg-color-primary-2-hover: #d8cc21;
    --bg-color-primary-2-active: #c5ba20;
    --bg-color-secondary: #f5c0f5;
    --bg-color-tertiary: white;
    --bg-color-tertiary-hover: rgb(231, 229, 229);
    --bg-color-tertiary-active: rgb(221, 217, 217);
    --bg-color-body: #f8e5f1;

    --border: 1px solid #969696;

    --header-height: 8vh;
}