.chat {
    display: flex;
    flex-direction: column;

    &__header {
        position: sticky;
        top: 0;
        height: var(--header-height);
    }

    &__message-list {
        flex: 1;

    }

    &__input {
        position: sticky;
        bottom: 0;
    }
}