.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color-primary);
    padding: 1rem;

    &__back {
        height: 80%;
        aspect-ratio: 1 / 1;
    }

    &__additional {
        display: flex;
        gap: 1rem;

    }
}