.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color-primary);
    padding: 1rem;

    &__back {
        height: 80%;
        aspect-ratio: 1 / 1;
    }

    &__additional {
        height: 100%;
    }

    &__button {
        border-radius: 50%;

        &:hover {
            background-color: var(--bg-color-primary-hover);
        }

        &:active {
            background-color: var(--bg-color-primary-active);
        }
    }
}

.additional {
    display: flex;
    align-items: center;
    gap: 1rem;

    &__button {
        height: 80%;
        aspect-ratio: 1 / 1;
    }
}